<%- contentFor('body') %>

<div>
    <h3>Aperçu des Catways</h3>
    <div>
        <div>
            <span>Total: </span>
            <span><%= stats.totalCatways %></span>
        </div>
        <div>
            <span>Occupés: </span>
            <span><%= stats.occupiedCatways %></span>
        </div>
        <div>
            <span>Disponibles: </span>
            <span><%= stats.availableCatways %></span>
        </div>
    </div>
</div>
