<%- contentFor('body') %>

<h2>Aperçu des Catways</h2>
<ul>
  <li>Total : <%= stats.totalCatways %></li>
  <li>Occupés : <%= stats.occupiedCatways %></li>
  <li>Disponibles : <%= stats.availableCatways %></li>
</ul>