<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= typeof title !== 'undefined' ? title : 'Port de Plaisance' %></title>
    <link rel="shortcut icon" href="/img/favicon.png" type="image/png">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <% if (typeof extraStyles !== 'undefined') { %>
        <% extraStyles.forEach(function(style) { %>
            <link rel="stylesheet" href="<%= style %>">
        <% }); %>
    <% } %>
    <% if (typeof currentPage !== 'undefined' && currentPage === 'api') { %>
      <link rel="stylesheet" href="/css/doc.css">
    <% } %>
</head>
<body>
    <div class="main-container">
        <%- body %>
    </div>
    <% if (typeof scripts !== 'undefined') { %>
        <% scripts.forEach(function(script) { %>
            <script src="<%= script %>"></script>
        <% }); %>
    <% } %>
</body>
</html>